POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=lostitem
USE_SQLITE=False

TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PROXY_SERVICE_SID=your_twilio_proxy_service_sid

APP_DOMAIN=http://localhost:8000
DOMAIN=localhost:8000

REDIS_URL=memory

SENTRY_DSN=
