fastapi
uvicorn[standard]
psycopg2-binary
httpx
sqlmodel
asyncpg
python-jose[cryptography]
qrcode[pil]
opencv-python
weasyprint
pdfminer.six
pyzbar
pillow
twilio
pydantic-settings
email-validator
redis



